@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
}

.header {
  background: rgb(128, 31, 121);
  background: linear-gradient(
    90deg,
    rgba(128, 31, 121, 1) 10%,
    rgba(0, 212, 255, 1) 41%,
    rgba(0, 212, 255, 1) 57%,
    rgba(128, 31, 121, 1) 100%
  );
  color: #fff;
  text-align: center;
  padding: 10px;
}
h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 46px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.move-ms {
  width: 10%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  border-radius: 10px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.left-sidebar {
  flex: 1;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(128, 31, 121, 1) 0%,
    rgba(0, 212, 255, 1) 77%
  );
  text-align: center;
  box-shadow: 0 0 20px #eee;
}

.main-content {
  flex: 1;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%,
    rgba(128, 31, 121, 1) 100%
  );
  text-align: center;
  box-shadow: 0 0 20px #eee;
}

.right-sidebar {
  flex: 1;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 41%,
    rgba(0, 212, 255, 1) 57%,
    rgba(128, 31, 121, 1) 100%
  );
  box-shadow: 0 0 20px #eee;
  text-align: center;
}

.shopping-cart-title {
  display: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  list-style: none;
  padding: 5px 0;
}

button {
  cursor: pointer;
  margin-top: 10px;
}

h2 {
  text-align: center;
}

#products-section,
#product-info {
  display: none;
}

.order-form {
  display: none;
  margin: 20px 0 0;
}

.form-item {
  display: block;
  margin: 20px auto 0;
}

.form-header {
  margin: 0;
}

textarea {
  display: block;
  margin: 0 auto;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
  box-shadow: 0 0 20px #eee;
  text-transform: uppercase;
}

button:hover {
  background-image: linear-gradient(
    to right,
    #bfe9ff 0%,
    #ff6e7f 51%,
    #bfe9ff 100%
  );
}

input {
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  color: #ab7fab;
  border-color: #ff4cff;
  background-color: #f0e2f0;
  box-shadow: 0px 0px 30px 0px rgba(191, 128, 191, 0.62);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, 0.75);
}
.css-input:focus {
  outline: none;
}

#comments {
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  color: #ab7fab;
  border-color: #ff4cff;
  background-color: #f0e2f0;
  box-shadow: 0px 0px 30px 0px rgba(191, 128, 191, 0.62);
  text-shadow: 0px 0px 0px rgba(42, 42, 42, 0.75);
}

#city {
  padding: 7px 40px 7px 12px;
  width: 25%;
  border: 1px solid #ff4cff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(191, 128, 191, 0.62);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
  color: #ab7fab;
}

option {
  color: #ab7fab;
}
